[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
"autopep8" = "*"
ipdb = "*"
python-githooks = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"

[scripts]
init = "githooks"
fix = "autopep8 -vir ."
